/* @import './css/mainMenu.css'; */

body{
    width: 100vw;
    height: 100vh;
    background-image: url(/backGround.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;

}
